{% extends 'base.html' %}

{% block content %}

<h1 class="class1">Github Links</h1>

<p class="class1">
	<a href="http://www.github.com/tychambers/EFT">Here</a> is the link to the various rest API and other scripts I have created at work. The majority of these are Powershell scripts that use our applications REST or COM API.
	<br><br>
	<a href="http://www.github.com/tychambers/Projects">Here</a> is the link to the python projects I have been working on, most of them are gui based applications using the tkinter module in Python.
</p>

{% endblock %}