{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="class1">
  <h1 class="ga-maamli-regular">Welcome to my Site!</h1>
  <p>Hi all, My name is Tyler. I'm currently using this site to build projects using the Django Framework in Python. Recently, I have been pretty interested in developing applications using python, powershell and some other programming languages. I will provide a link to some of my other content as well. As I continue to build skills, I plan on adding to this site. Thanks for stopping by.
<br>
    -Tyler

</div>


{% endblock %}
